@font-face {
    font-family:Bold;
    src: url('..assets/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family:Extrabold;
    src: url('../assets/fonts/Poppins-ExtraBold.ttf');
}
@font-face {
    font-family:medium;
    src: url('../assets/fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family:Regular;
    src: url('../assets/fonts/Poppins-Regular.ttf');
}


body{
    background-color: #3B2A9F;
    max-width: 1440px;
    position: relative;
}
header{
    max-width: 1440px;
    position: relative;
}

.logo{
    display:inline;
    color: white;
    font-size: 29px;
    font-weight: 800;
    line-height: 44.51px;
    font-family:Bold;
    margin: 59.18px;
}
.nv{
    display: inline;
    text-align: right;
    position: absolute;
    width: 505.41px;
    height: 24.2px;
    left: 706.63px;
    top: 40px;
    font-family: Regular;

}
a{
    color: white;
    text-decoration: none;
    padding: 20px;
}
#article1{
    background-color: #FA8305;
    padding: 3px 8px 3px 0px;
    display: inline; 
    -radius: 4px;
}
#article2{
    background-color: #FA8305;
    position: relative;
    width: 150px;
    height: 24px;
    top: 330px;
    left: 20px;
    gap: 0px;
    opacity: 0px;
    border-radius: 40px;
    padding: 10px;
    font-family:medium;
    font-size: 13px;
}
#article3{
    position:relative;
    background-color:#5141AA;
    padding: 3px 8px 3px 0px;
    display: inline; 
    border-radius: 4px;
    font-weight: 500px;
    font-size:15px ;
    gap: 0px;
    opacity: 0px;
    left: 850px;
    top:50px;
    font-family: medium;

}
#article4{
    position:relative;
    background-color:#5141AA;
    padding: 3px 8px 3px 0px;
    display: inline; 
    border-radius: 4px;
    font-weight: 500px;
    font-size:15px ;
    gap: 0px;
    opacity: 0px;
    left: 700px;
    top:1750px;
    font-family: medium;

}
#article5{
    background-color: black;
    position: relative;
    width: 400px;
    height: 348px;
    top: 250px;
    left: 60px;
    gap: 0px;
    opacity: 0px;
    border-radius: 40px;
    padding: 10px;
    font-family:Medium;
    font-size: 13px;
}
#article6{
    background-color:#B000DC1C;
    position: relative;
    width: 149px;
    height: 30px;
    top: 50px;
    left: 60px;
    gap: 0px;
    opacity: 0px;
    border-radius: 10px;
    padding: 10px;
    font-family:Medium;
    font-size: 13px;
}
#article7{
    background-color: black;
    position: relative;
    width: 400px;
    height: 348px;
    top: -115px;
    left: 550px;
    gap: 0px;
    opacity: 0px;
    border-radius: 40px;
    padding: 10px;
    font-family:Medium;
    font-size: 13px;
}
#article8{
    background-color:#DC42001C;
    position: relative;
    width: 149px;
    height: 30px;
    top: 50px;
    left: 60px;
    gap: 0px;
    opacity: 0px;
    border-radius: 10px;
    padding: 10px;
    font-family:Medium;
    font-size: 13px;
}
#article9{
    background-color: black;
    position: relative;
    width: 400px;
    height: 348px;
    top: -480px;
    left: 1050px;
    gap: 0px;
    opacity: 0px;
    border-radius: 40px;
    padding: 10px;
    font-family:Medium;
    font-size: 13px;
}
#article10{
    background-color:#00DC8D1C;
    position: relative;
    width: 149px;
    height: 30px;
    top: 50px;
    left: 60px;
    gap: 0px;
    opacity: 0px;
    border-radius: 10px;
    padding: 10px;
    font-family:Medium;
    font-size: 13px;
}
#black_div {
    position: relative;
    background-color: #1C140F;
    border-radius: 10px;
    width: 1140px;
    height: 190px;
    display: flex;
    left: 200px;
    top: 2000px;
}
#black_div2 {
    position: relative;
    background-color: #1C140F;
    width: 1440px;
    height: 376px;
    display: flex;
    top: 2250px;
    
}
ul {
    list-style-type: none;
  }
  



main{
    max-width: 1140px;
    position: relative;
    left: 130px;
}
.hovering:hover{
    background-color:blue;
}
.div1{
    width: 527px;
    height: 510px;
    top: 20px;
    left: 50px;
    gap: 0px;
    opacity: 0px;
    position: relative;
    display: block;
}
#p1{
    display: inline;
    position: absolute;
    left: 20px;
    font-family: Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 155.2%;
    color: #FA8305;
}
#p2{
    position: relative;
    color: #FFFFFF; 
    top:300px;
    left:20px; 
    font-family: Medium;
}
#d1{
    position: absolute;
    width: 479.63px;
    height: 234px;
    left: 20px;
    top: 10px;
    font-family:Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 155.2%;
    color: #FFFFFF;
}
#d2{
    position: relative;
    display:inline;
    color: white;
    font-size: 31px;
    font-weight: 700;
    line-height: 58.13px;
    font-family:Bold;
    left: 200px;
    top: 50px;
   
    
} 
#d3{
    position: relative;
    display:inline;
    color: white;
    font-size: 35px;
    font-weight: 600;
    line-height: 58.13px;
    font-family:Bold;
    left: 400px;
    top: 400px;
    


}   
#unreal{
    position: absolute;
    width: 59px;
    height: 64px;
    top: 218px;
    left: 1168px;
    gap: 0px;
    opacity: 0px;  
}
#cry{
    position: absolute;
    width: 101px;
    height: 99px;
    top: 202px;
    left: 828px;
    gap: 0px;
    opacity: 0px;
}
#unity{
    position: absolute;
    width: 96px;
    height: 30px;
    top: 409px;
    left: 649px;
    gap: 0px;
    opacity: 0px;
}
#controller{
    width: 700px;
    height: 700px;
    left:50px;
    position: relative;
    
}
#warrior{
    position:absolute;
    Width:251px;
    Height:200px;
    Top:900px;
    Left:200px;
    border-radius:10px;

}
#girl{
    position:absolute;
    Width:251px;
    Height:200px;
    Top:900px;
    Left:500px;
    border-radius:10px;

}
#soldier{
    position:absolute;
    Width:251px;
    Height:200px;
    Top:900px;
    Left:800px;
    border-radius:10px;

}
#japan{
    position:absolute;
    Width:251px;
    Height:200px;
    Top:900px;
    Left:1100px;
    border-radius:10px;

}
#bigjapan{
    position:absolute;
    Width:739px;
    Height:600px;
    Top:90px;
    Left:55%;
   

}
#spider{
    position: absolute;
    Width:1146px;
    Height:462px;
    Top:1700px;
    Left:147px;
    Radius:5px;
}
#pic1{
    position: absolute;
    width: 382px;
    height: 223px;
    top: 2400px;
    left: 147px;
    gap: 0px;
    opacity: 0px;  
    border-radius: 20px;
}
#pic2{
    position: absolute;
    width: 382px;
    height: 223px;
    top: 2400px;
    left: 560px;
    gap: 0px;
    opacity: 0px;  
    border-radius: 20px    
}
#pic3{
    position: absolute;
    width: 382px;
    height: 223px;
    top: 2400px;
    left: 970px;
    gap: 0px;
    opacity: 0px; 
    border-radius: 20px    
}
#pic4{
    position: absolute;
    width: 246px;
    height: 223px;
    top: 2650px;
    left: 147px;
    gap: 0px;
    opacity: 0px; 
    border-radius: 20px    
}
#pic5{
    position: absolute;
    width: 401px;
    height:223px;
    top: 2650px;
    left: 430px;
    gap: 0px;
    opacity: 0px; 
    border-radius: 20px    
}
#pic6{
    position: absolute;
    width: 461px;
    height: 223px;
    top: 2650px;
    left: 890px;
    gap: 0px;
    opacity: 0px; 
    border-radius: 20px    
}
#laptopside {

    display: flex;
    width: 1440px;
    height: 603px;
    background-color: #1C140F;
    margin-top: 150px;
}

#laptop1 img {
    width: 496px;
    height: 490px;
    margin-left: 110px;
    margin-top: 113px;
    border-radius: 24px 24px 0px 0px;
}

#laptop2 {

    margin-left: 100px;
    margin-top: 113px;
}

#laptop2-p1 {
    color: white;
    font-size: 16px;
    position: relative;
    top: 7px;

    font-family: Medium;
}

#laptop2-p2 {
    color: white;
    font-size: 25px;
    font-family: Bold;
    line-height: 44.1px;
}

#laptop2-p3 {
    color: white;
    font-size: 16px;
    line-height: 32.4px;
    font-family: Regular;
}
#adamak {
    width: 1264px;
    height: 351px;
    background-color: #3B2A9F;
    margin-left: 106px;
    margin-top: 150px;
}

#adamak-p1 {
    font-size: 25px;
    font-family: Poppins-SemiBold;
    margin-bottom: 57px;

}

#square {
    display: flex;
    justify-content: space-between;
}

.divs {
    width: 295px;
    height: 253px;
    background-color: #1C140F;
    border-radius: 20px;
    display: flex;
}

#adamak-char1 {

    width: 123px;
    height: 123px;
}

#adamak-char2 {
    width: 117px;
    height: 117px;

}

#adamak-char3 {

    width: 109px;
    height: 109px;

}

#adamak-char4 {
    width: 106px;
    height: 106px;

}

#square img {
    margin-top: 40px;
    margin-left: 90px;
}
.adamak-div1 {
    width: 120px;
    height: 45px;
    position: relative;
    right: 110px;
    top: 150px;

}

.adamak-div2 {
    position: relative;
    right: 195px;
    top: 180px;
}
.adamak-p1 {

    font-size: 19px;
    font-family: Poppins-SemiBold;
    position: relative;
    width: 120px;
    height: 45px;
}

.adamak-p2 {

    font-size: 20px;
    font-weight: 300;
    font-family: Poppins-Thin;

}




.c-flex {
    display: flex;
}
#controller{
    left: 400px;
}
body{
    display: flexbox;
}
.c-flex >div{
    width: 570px;
}



    


    




























